:root {
  --background-colors: #2f303a;
  --text-color: #ffffff;
  --background-color: #f5f4fa;
  --button-color: #2196f3;
}
.one {
  background-color: var(--background-colors);
}
.hhh1 {
  text-align: center;
  color: var(--text-color);
  font-family: Roboto;
}
button {
  background: var(--button-color);
  color: var(--text-color);
  width: 300px;
  height: 40px;
}
footer {
  background-color: var(--background-colors);
  color: var(--text-color);
}
.team {
  background-color: var(--background-color);
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: auto;
  padding: 0 15px;
  box-sizing: border-box;
  min-width: 800px;
}
body {
  font-family: "Roboto", sans-serif;
}
/* header */
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heder-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.heder-img {
  padding-right: 63px;
}
.header-top {
  padding: 30px 0;
}
.item-head {
  padding-right: 50px;
}
#header {
  padding-left: 304px;
}
.item-header {
  padding-right: 50px;
}
.heder-img {
  padding-right: 63px;
}

/* main */

main {
  padding: 94px 0;
}
#button-top {
  width: 73px;
  height: 38px;
  border-radius: 3px;
}
#button-top2 {
  width: 125px;
  height: 38px;
  border-radius: 3px;
}
#button-top3 {
  width: 112px;
  height: 38px;
  border-radius: 3px;
}
#button-top4 {
  width: 103px;
  height: 38px;
  border-radius: 3px;
}
#button-top5 {
  width: 130px;
  height: 38px;
  border-radius: 3px;
}
.first0list {
  display: flex;
  justify-content: center;
  text-align: center;
}
.button-top {
  margin-right: 8px;
}
/* main 2 */
.itemsmains {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.item-main {
  flex-basis: calc((100% - 2400px) / 3);
}
article {
  border: 1px solid #eee;
  border-top: none;
}
figure {
  padding: 0;
  margin: 0;
}
/* footer */
footer {
  padding: 60px 0;
}
.tel-footer {
  color: rgba(240, 248, 255, 0.693);
}
.mail-footer {
  color: rgba(240, 248, 255, 0.693);
}
article:hover {
  box-shadow: 3px 1px 10px grey;
}
figcaption {
  padding-left: 20px;
}
.button-top, .button-dfdfdfd {
  border: none;
  background: #f5f4f8;
  color: black;
  font-size: 17px;
  border-radius: 1px;
  font-weight: 500;
  margin-bottom: 20px;
}
.button-top:hover, .button-dfdfdfd:hover {
  background-color: #2196F3;
  color: #eee;
  font-weight: 500;
  box-shadow: 1px 2px 5px gray;
}
p {
  color: rgba(0, 0, 0, 0.595);
}
.v {
  color:#FFFFFF;
  margin: 0;
  margin-top: 20px;
}
.top-itm {
  color: #000000;
  font-weight: 500;
}
.header-top {
  border-bottom: 1px solid #ECECEC;
}
.maiss {
  color: #757575cf;
  font-weight: 500;
}
.tell {
  color: #757575;
  font-weight: 500;
}
.top-itm:hover, .maiss:hover, .tell:hover {
  color: #2196F3;
  font-weight: 500;
}
.v:hover, .mail-footer:hover, .tel-footer:hover {
  color: #2196F3;
}
.insta0:hover .insta1 {
  fill: #2196f3;
}
.insta0:hover .insta2 {
  fill: #ffffff;
}
.insta0:hover .insta3 {
  fill: #ffffff;
}
.insta0:hover .insta4 {
  fill: #ffffff;
}

.twitter0:hover .twitter1 {
  fill: #2196f3;
}
.twitter0:hover .twitter2 {
  fill: #ffffff;
}

.face0:hover .face1 {
  fill: #2196f3;
}
.face0:hover .face2 {
  fill: #ffffff;
}

.in0:hover .in1 {
  fill: #2196f3;
}
.in0:hover .in2 {
  fill: #ffffff;
}
.in0:hover .in3 {
  fill: #ffffff;
}
.section-last100klient-box-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}
.footer-flex-box-1 {
  display: flex;
}
.fotero-1 {
  padding-right: 70px;
}
.join-footer {
font-size: 18px;
font-weight: 400;
line-height: 16.41px;
letter-spacing: 0.03em;
text-align: left;
margin-top: 0px;
color: #ffffff;
}
#header {
  padding-left: 295px;
}

.item-header:hover .fone-1header2 {
  fill: #2196f3;
}

.item-header:hover .email-1header1 {
  fill: #2196f3;
}
.email-item-hedera:hover .email-1header1 {
  fill: #2196f3;
}

.fone-1header2 {
  fill: #757575; 
}
.maiss {
  fill: #757575; 
  text-decoration: none; 
}
.item-header:hover .fone-1header2 {
  fill: #2196f3;
}
.item-header:hover .maiss {
  color: #2196f3; 
}

.email-1header1, .email-1header2 {
  fill: #757575;
}
.tell {
  fill: #757575;
  text-decoration: none;
}
  .email-item-hedera:hover .email-1header1, 
  .email-item-hedera:hover .email-1header2 {
  fill: #2196f3;
}
.email-item-hedera:hover .tell {
  color: #2196f3;
}
.subscraib {
  font-size: 18px;
  font-weight: 400;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-top: 0px;
  color: white;
}
.navisdscdsa {
  padding-left: 93px;
}
.ddnavil {
   display: flex;
}

.subscription-input {
  padding-left: 12px;
  font-size: 16px;
  border: 1px solid #6c6d74;
  border-radius: 4px;
  color: #fff;
  background-color: #2f303a;
  width: 358px;
  height: 50px;
  margin-top: 20px;
}


.subscription-button {
  margin-top: 20px;
  width: 200px;
  height: 52px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #1e90ff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscription-button svg {
  margin-left: 10px;
}
.but-fn {
  padding-left: 12px;
}