:root {
  --background-colors: #2f303a;
  --text-color: #ffffff;
  --background-color: #f5f4fa;
  --button-color: #2196f3;
}
.one {
  background-color: var(--background-colors);
}
.hhh1 {
  text-align: center;
  color: var(--text-color);
  font-family: Roboto;
}
button {
  background: var(--button-color);
  color: var(--text-color);
  width: 300px;
  height: 40px;
}
footer {
  background-color: var(--background-colors);
  color: var(--text-color);
}
.team {
  background-color: var(--background-color);
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: auto;
  padding: 0 15px;
  box-sizing: border-box;
  min-width: 800px;
}
body {
  font-family: "Roboto", sans-serif;
}
/* header */
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heder-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.heder-img {
  padding-right: 63px;
}
.header-top {
  padding: 30px 0;
}
.item-head {
  padding-right: 50px;
}
#header {
  padding-left: 304px;
}
.item-header {
  padding-right: 50px;
}
.heder-img {
  padding-right: 63px;
}

/* main */

main {
  padding: 94px 0;
}
#button-top {
  width: 73px;
  height: 38px;
  border-radius: 3px;
}
#button-top2 {
  width: 125px;
  height: 38px;
  border-radius: 3px;
}
#button-top3 {
  width: 112px;
  height: 38px;
  border-radius: 3px;
}
#button-top4 {
  width: 103px;
  height: 38px;
  border-radius: 3px;
}
#button-top5 {
  width: 130px;
  height: 38px;
  border-radius: 3px;
}
.first0list {
  display: flex;
  justify-content: center;
  text-align: center;
}
.button-top {
  margin-right: 8px;
}
/* main 2 */
.itemsmains {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item-main {
  margin-bottom: 30px;
}
article {
  box-shadow: 1px 3px 9px #d7d7d7;
}
figure {
  padding: 0;
  margin: 0;
}
/* footer */
footer {
  padding: 60px 0;
}
.tel-footer {
  color: rgba(240, 248, 255, 0.693);
}
.mail-footer {
  color: rgba(240, 248, 255, 0.693);
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 60px;
  margin: 0;
}
.item-main {
  flex-basis: calc((100% - 60px)/4);
  padding: auto;
}
.card-sett {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  gap: 60px;
  margin: 0;
}
