:root {
  --background-colors: #2f303a;
  --text-color: #ffffff;
  --background-color: #f5f4fa;
  --button-color: #2196f3;
}
.one {
  background-color: var(--background-colors);
}
.hhh1 {
  text-align: center;
  color: var(--text-color);
  font-family: Roboto;
}
button {
  background: var(--button-color);
  color: var(--text-color);
  width: 300px;
  height: 40px;
}
footer {
  background-color: var(--background-colors);
  color: var(--text-color);
}
.team {
  background-color: var(--background-color);
}

.container {
  width: 1200px;
  margin: auto;
  padding: 0 15px;
  box-sizing: border-box;
  text-align: center;
}
ul {
  list-style: none;
}
.header-top {
  padding: 32px 0;
}
.hhh1 {
  padding-top: 200px;
  margin-bottom: 30px;
}
button {
  margin-bottom: 200px;
}
.details {
  margin: 94px;
}
.imgsss {
  margin-bottom: 94px;
}
.team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.teamss-text {
  padding-bottom: 50px;
}
.img-footer {
  padding-top: 60px;
}
footer {
  padding-bottom: 60px;
}
.container-footer {
  width: 2300px;
  margin: auto;
  padding: 0 15px;
  box-sizing: border-box;
  text-align: left;
}
