:root {
    --background-colors: #2F303A;
    --text-color: #FFFFFF;
    --background-color: #F5F4FA;
    --button-color: #2196F3;
}
.one {
    width: 2500px;
    height: 300px;
    top: 80px;
    background-color: var(--background-colors) ;
}
.hhh1 {
    text-align: center;
    color: var(--text-color) ;
    font-family: Roboto;

}
button {
    background: var(--button-color) ;
    color: var(--text-color) ;
    width: 300px;
    height: 40px;
}
footer {
    background-color: var(--background-colors) ;
    color: var(--text-color) ;
}
.team {
    background-color: var(--background-color) ;
}
