:root {
    --background-color: #2F303A;
}
:root {
    --text-color: #FFFFFF;
}
:root {
    --background-button: #2196F3;
}
:root {
    --background-main: #F5F4FA;
}

.one {
    width: 2500px;
    height: 300px;
    top: 80px;
    background: var(--background-color);
    ;
}
.hhh1 {
    text-align: center;
    color: var(--text-color);
    font-family: Roboto;

}
button {
    background: var(--background-button);
    color: var(--text-color);
    width: 300px;
    height: 40px;
}
footer {
    background: var(--background-color);
    color: var(--text-color);
}
.team {
    background: var(--background-main);
}
